In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dir = '/content/wine.csv'
df = pd.read_csv(dir, sep=';') # change directory here to your directory 
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1194,7.0,0.745,0.12,1.8,0.114,15.0,64,0.99588,3.22,0.59,9.5,6
1195,6.2,0.430,0.22,1.8,0.078,21.0,56,0.99633,3.52,0.60,9.5,6
1196,7.9,0.580,0.23,2.3,0.076,23.0,94,0.99686,3.21,0.58,9.5,6
1197,7.7,0.570,0.21,1.5,0.069,4.0,9,0.99458,3.16,0.54,9.8,6
1198,7.7,0.260,0.26,2.0,0.052,19.0,77,0.99510,3.15,0.79,10.9,6

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1199 non-null   float64
 1   volatile acidity      1199 non-null   float64
 2   citric acid           1199 non-null   float64
 3   residual sugar        1199 non-null   float64
 4   chlorides             1199 non-null   float64
 5   free sulfur dioxide   1199 non-null   float64
 6   total sulfur dioxide  1199 non-null   int64
 7   density               1199 non-null   float64
 8   pH                    1199 non-null   float64
 9   sulphates             1199 non-null   float64
 10  alcohol               1199 non-null   float64
 11  quality               1199 non-null   int64
dtypes: float64(10), int64(2)
memory usage: 112.5 KB

In [ ]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000
mean,8.625271,0.519133,0.293353,2.564470,0.089266,15.242702,46.884070,0.997059,3.298582,0.665738,10.383069,5.664721
std,1.781795,0.179208,0.196751,1.264441,0.048310,10.210406,33.949177,0.001878,0.156161,0.175921,1.091891,0.809593
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.300000,0.390000,0.120000,1.900000,0.071000,7.000000,21.000000,0.996000,3.195000,0.560000,9.500000,5.000000
50%,8.300000,0.500000,0.290000,2.200000,0.080000,13.000000,38.000000,0.997020,3.300000,0.620000,10.000000,6.000000
75%,9.600000,0.630000,0.450000,2.700000,0.092000,21.000000,63.000000,0.998175,3.390000,0.735000,11.000000,6.000000
max,15.900000,1.330000,1.000000,15.500000,0.611000,68.000000,289.000000,1.003200,3.900000,2.000000,14.900000,8.000000

In [ ]:
feature_names = df.columns[0:-1]
feature_names

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol'],
      dtype='object')

In [ ]:
training_labels = df['quality'].copy().to_numpy()
training_set = df.drop(columns = ['quality']).copy().to_numpy()

In [ ]:
training_set

array([[ 7.4 ,  0.7 ,  0.  , ...,  3.51,  0.56,  9.4 ],
       [ 7.8 ,  0.88,  0.  , ...,  3.2 ,  0.68,  9.8 ],
       [ 7.8 ,  0.76,  0.04, ...,  3.26,  0.65,  9.8 ],
       ...,
       [ 7.9 ,  0.58,  0.23, ...,  3.21,  0.58,  9.5 ],
       [ 7.7 ,  0.57,  0.21, ...,  3.16,  0.54,  9.8 ],
       [ 7.7 ,  0.26,  0.26, ...,  3.15,  0.79, 10.9 ]])

In [ ]:
training_labels

array([5, 5, 5, ..., 6, 6, 6])

## Problem A

In [ ]:
X = training_set.copy()
Y = training_labels.copy()

In [ ]:
def generateX(X): 
  return X
def generateY(Y):
  return Y.T

In [ ]:
def cal_theta(X,Y):
  A = generateX(X)
  B = generateY(Y)
  theta = np.linalg.inv(A.T @ A) @ (A.T @ B)
  return theta

In [ ]:
def cal_r_norm(theta, X, Y):

  A = generateX(X)
  B = generateY(Y)



  r = A @ theta - B
  r_norm = np.linalg.norm(r,2)


  return r, r_norm

In [ ]:
theta = cal_theta(X, Y)
r, r_norm = cal_r_norm(theta, X, Y)

print(theta.T)
print(r_norm)

[ 5.92516137e-03 -1.10803754e+00 -2.63046284e-01  1.53222831e-02
 -1.73050274e+00  3.80141908e-03 -3.89899869e-03  4.33858768e+00
 -4.58535475e-01  7.29718662e-01  3.08858648e-01]
22.12434596534916

In [ ]:
# plt.plot(X,Y,'o',color = 'blue')
# theta = cal_theta(X,Y)
# t = np.linspace(min(X),max(X),1000)
# y_t = [theta[0] + theta[1] * i for i in t]
# plt.plot(t, y_t,'o',color = 'red')
# plt.show()

## Problem B

In [ ]:
def split_training_validation(sample, label, rate=0.8):
  lim = int(0.8 * len(sample))
  training_data, validation_data = sample[:lim], sample[lim:]
  training_label, validation_label = label[:lim], label[lim:]

  return training_data, training_label, validation_data, validation_label

In [ ]:
def cross_val_on_features(sample, label):
  best_theta = None
  best_feature = -1
  min_loss = np.Inf

  training_data, training_label, validation_data, validation_label = split_training_validation(sample, label)



  for i in range(X.shape[1]):
    data = np.expand_dims(training_data[:, i].copy(), axis=1)
    val_data = np.expand_dims(validation_data[:, i].copy(), axis=1)

    theta = cal_theta(data, training_label)
    
    r, r_norm = cal_r_norm(theta, val_data, validation_label)
    print(f'#{i} Model with feature {feature_names[i]} has loss:\t', r_norm)
    if min_loss > r_norm:
      min_loss = r_norm 
      best_theta = theta
      best_feature = i 
  
  return best_theta, best_feature, min_loss

b_best_theta, b_best_feature, b_min_loss = cross_val_on_features(training_set, training_labels)
print('----------------------------------------------------------------------------------')
if b_best_feature == -1: 
  print('Invalid')
else : 
  print('Theta of best model: ', b_best_theta.T)
  print('Feature is used in best model: ',  feature_names[b_best_feature])
  print('Loss of best model: ', b_min_loss)

#0 Model with feature fixed acidity has loss:	 22.041808053764353
#1 Model with feature volatile acidity has loss:	 39.89514128701954
#2 Model with feature citric acid has loss:	 48.48312962323622
#3 Model with feature residual sugar has loss:	 45.5437048701165
#4 Model with feature chlorides has loss:	 44.828152372795806
#5 Model with feature free sulfur dioxide has loss:	 56.648960319915034
#6 Model with feature total sulfur dioxide has loss:	 64.31904224903731
#7 Model with feature density has loss:	 13.447132308400061
#8 Model with feature pH has loss:	 14.437994449295825
#9 Model with feature sulphates has loss:	 22.301717882131076
#10 Model with feature alcohol has loss:	 10.796346726142648
----------------------------------------------------------------------------------
Theta of best model:  [0.54468491]
Feature is used in best model:  alcohol
Loss of best model:  10.796346726142648

## Problem C

In [ ]:
def custom_generateX(X):  
  vars = []

  X_0 = np.ones((X.shape[0])) # contains only theta_0, (N)
  vars.append(X_0)
  
  # X_1 = np.array([i for i in X[:, 0]]) # (N) # 4
  # vars.append(X_1)

  X_2 = np.array([i for i in X[:, 1]]) # (N) # 6
  vars.append(X_2)

  X_3 = np.array([np.exp(i) for i in X[:, 2]]) # (N)
  vars.append(X_3)

  X_4 = np.array([i for i in X[:, 3]]) # (N) # 7
  vars.append(X_4)

  X_5 = np.array([i for i in X[:, 4]]) # (N)
  vars.append(X_5)

  X_6 = np.array([np.exp(i) for i in X[:, 5]]) # (N)
  vars.append(X_6)

  X_7 = np.array([i for i in X[:, 6]]) # (N)
  vars.append(X_7)

  X_8 = np.array([i for i in X[:, 7]]) # (N) # 2
  # X_8 = (X_8 - X_8.mean()) / X_8.std()
  vars.append(X_8)

  X_9 = np.array([i for i in X[:, 8]]) # (N) # 3
  # X_9 = (X_9 - X_9.mean()) / X_9.std()
  vars.append(X_9)

  X_10 = np.array([i for i in X[:, 9]]) # (N) # 5
  vars.append(X_10)

  X_11 = np.array([i**2 for i in X[:, 10]]) # (N) # 1
  vars.append(X_11)

  return np.stack(vars).T # function contains 3 features only

def custom_generateY(Y):
  return Y.T

In [ ]:
def custom_cal_theta(X,Y):
  A = custom_generateX(X)
  B = custom_generateY(Y)

  theta = np.linalg.inv(A.T @ A) @ (A.T @ B)
  return theta

In [ ]:
def custom_cal_r_norm(theta, X, Y):
  A = custom_generateX(X)
  B = custom_generateY(Y)

  r = A @ theta - B
  r_norm = np.linalg.norm(r,2)


  return r, r_norm

In [ ]:
theta = custom_cal_theta(X, Y)
r, r_norm = custom_cal_r_norm(theta, X, Y)

print(theta.T)
print(r_norm)

[ 1.46077205e+01 -1.07250498e+00 -1.12499059e-01  2.30790445e-02
 -1.86953709e+00  2.27033303e-31 -3.40928204e-03 -8.49693854e+00
 -4.45796407e-01  7.69067236e-01  1.34446445e-02]
22.182698785448395